.header { 
    height: 95vh;
    background-image: linear-gradient(to right bottom,
                     rgba($color-primary-light, 0.8), 
                     rgba($color-primary-dark, 0.8)),
                     url(../img/hero-small.jpg);
                     /* linear gradient adds a "layer" on top of the image
                     to specifying  the gradient direction and the colors from and to*/
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @media only screen and (min-resolution: 192dpi) and (min-width: 600px)// apple retina , 
    ,(-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem) // safari
    ,(min-width: 2000px) { 
      background-image: linear-gradient(to right bottom,
                     rgba($color-primary-light, 0.8), 
                     rgba($color-primary-dark, 0.8)),
                     url(../img/hero.jpg);
    }

    @media only screen and (min-width: 2000px) {
      background-image: linear-gradient(to right bottom,
                     rgba($color-primary-light, 0.8), 
                     rgba($color-primary-dark, 0.8)),
                     url(../img/hero.jpg);
    }

    @include respond(phone) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
    }
    
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
  }